.grid {
  display: grid;
  grid-template-columns: repeat(6, 200px);
}

.item {
  margin: 10px 20px;
  border: 1px solid #555;
}

.image {
  width: 100%;
}

.button {
  width: 100%;
  padding: 3px 0;
}
